<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Excluir Paciente</title>
</head>
<body>
    <h1>Excluir Paciente</h1>
    <div>
        <label for="inputExcluir">Digite o código do paciente:</label>
        <input id="inputExcluir" type="number">
        <button id="botaoExcluir">Excluir</button>
    </div>
    <p hidden id="mensagemErro">Digite o código do paciente!</p>
    <p hidden id="mensagemSucesso">Operação realizada com sucesso!</p>
    <script src="js/excluirPac.js"></script>
</body>
</html>