<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Página Principal</title>
</head>

<body>
    <h1>Página Principal</h1>
    <div class="centralizar">
        <button id="botao">Relatório</button>
        <button id="add">Adicionar Paciente</button>
        <button id="consultar">Consultar Paciente</button>
        <button id="excluir">Excluir Paciente</button>
    </div>
    <script src="js/index.js"></script>
</body>

</html>